<a href="https://colab.research.google.com/github/angakishor/ML/blob/main/linearegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [30]:

data = pd.DataFrame({
    "name": [" Owen Harris",
             " William Henry",
             " Elizabeth"],
    "age": [22, 35, 58],
    "gender": ["male", "male", "female"],
    "city": ["Paris", "London", "Berlin"],
    "exp":["1.5yrs","2yrs","3yrs"],
    "salary":[15000,20000,30000]
})

In [31]:
data

             name  age  gender    city     exp  salary
0     Owen Harris   22    male   Paris  1.5yrs   15000
1   William Henry   35    male  London    2yrs   20000
2       Elizabeth   58  female  Berlin    3yrs   30000

In [32]:
data['exp'] = data['exp'].str.extract('(\d+\.?\d*)').astype(float)
print(data)

             name  age  gender    city  exp  salary
0     Owen Harris   22    male   Paris  1.5   15000
1   William Henry   35    male  London  2.0   20000
2       Elizabeth   58  female  Berlin  3.0   30000

In [35]:
x = data[['age','exp']]
y = data['salary']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

model = LinearRegression()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)

In [38]:
mse = mean_squared_error(y_test,y_pred)
print(mes)
r2 = r2_score(y_test,y_pred)
print(r2)
#output
print("Predicted Salaries:", y_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)
#mathametical coefficients
print("Model Coefficients (age, exp):", model.coef_)
print("Intercept:", model.intercept_)

423727.3050907756
nan
Predicted Salaries: [14349.05660377]
Mean Squared Error: 423727.3050907756
R-squared: nan
Model Coefficients (age, exp): [433.96226415  18.86792453]
Intercept: 4773.584905660384

/usr/local/lib/python3.11/dist-packages/sklearn/metrics/_regression.py:1266: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [39]:
y_pred

array([14349.05660377])

In [57]:
#formula used to preditc the salary is:[y=m1x1+m2x2+..+c] MultiLinearRegression
y= (35*433.96226415) + (2.0*18.86792453) + 4773.584905660384
print(y)

19999.999999970387

In [58]:
#example data set to predict the salary
data_pred = pd.DataFrame({
    "name": ["kishor","guna","kalyan"],
    "age": [22,24,28],
    "gender": ["male","male","male"],
    "city": ["vizag","hyd","hyb"],
    "exp":[2.0,3.0,5.0],
    "salary":[None, None, None]
})

In [59]:
x_pred = data_pred[['age','exp']]
y_pred = model.predict(x_pred)
print(y_pred)
data_pred['salary'] = y_pred
print(data_pred[["name",'salary']])

[14358.49056604 15245.28301887 17018.86792453]
     name        salary
0  kishor  14358.490566
1    guna  15245.283019
2  kalyan  17018.867925